/** Re-organized CSS structure so that its lines follow semantic structure with HTML. **/

/** The asterisk is a universal selectors, thus the below style will be applied to
all types of elements in HTML. **/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/** Will change the background-color of body.**/
body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

/** We want this class to be nav instead of div since nav tag is more appropriate.
Hence, we will have ".header nav" **/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/** Since the following classes: ".search-engine-optimization", ".online-reputation-management", ".social-media-marketing"
 will all have the same styles, instead of using 3 different class names, it's more convinient to use 1 class name. 
 To make this function, I grouped 3 different class names to 1 class name. That is, use "content-article" as a class name. **/
 .content-article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/** Since the img in the following classes: ".search-engine-optimization", ".online-reputation-management", ".social-media-marketing"
 will all have the same styles, instead of using 3 different class names, it's more convinient to use 1 class name. 
 To make this function, I grouped 3 different class names to 1 class name. That is, use "content-article" as a class name. **/
.content-article img {
    max-height: 200px;
}

/** Since the h2 in the following classes: ".search-engine-optimization", ".online-reputation-management", ".social-media-marketing"
 will all have the same styles, instead of using 3 different class names, it's more convinient to use 1 class name. 
 To make this function, I grouped 3 different class names to 1 class name. That is, use "content-article" as a class name. **/
.content-article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

p {
    font-size: 16px;
}

/** Changed padding size from 20px to 50px to match with the result that was given. **/
.benefits {
    margin-right: 20px;
    padding: 22px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/** Since the following classes: ".benefit-lead/brand/cost" will all have same styles, instead of using
3 different class names, it's more convinient to use 1 class name. To make this function, I grouped
3 different class names to 1 class name. That is, use "benefit-article" as a class name. **/
.benefits-article {
    margin-bottom: 32px;
    color: #ffffff;
}

/** Since the h3 in the class ".benefit-lead/brand/cost" will all have same styles, instead of using
3 different class names, it's more convinient to use 1 class name. To make this function, I grouped
3 different class names to 1 class name. That is, use "benefit-article" as a class name. **/
.benefits-article h3 {
    margin-bottom: 10px;
    text-align: center;
}

/** Since the img in the class ".benefit-lead/brand/cost" will all have same styles, instead of using
3 different class names, it's more convinient to use 1 class name. To make this function, I grouped
3 different class names to 1 class name. That is, use "benefit-article" as a class name. **/
.benefits-article img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/** This will change the style of the footer. **/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/** This will change the font-size of h2 in footer to 20px. **/
.footer h2 {
    font-size: 20px;
}